.n-warpper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.n-left {
        display: flex;
        align-items: center;
        gap: 2rem;
        flex: 1;
    }
.n-name{
    font-size: 1.3rem;
    font-weight: bold;
}
.n-right{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
.n-list{
    flex: 10;
}
.n-list>ul{
    display: flex;
    gap: 2rem;
    margin-right: 5rem;
}
.n-list>ul > li:hover{
    cursor: pointer;
    color: var(--orange);
}
.li{
    list-style: none;
}
.n-button{
    flex: 2;
}
  